body {
    display: flex;
    background: rgb(182, 182, 182);
    overflow: hidden;
}
.tools {
    width: 15%;
    background: rgb(250, 250, 250);
    position: absolute;
    height: 100vh;
    z-index: 1000;
    resize: horizontal;
    overflow: hidden;
    min-width: fit-content;
    max-width: 20%;
    user-select: none;
    color: black;
    font-weight: 500;
}
.t1 {
    border-right: 1px solid black;
}
.t2 {
    right: 0;
    direction: rtl;
    border-left: 1px solid black;

}
#app {
    background: white;
    transform: scale(0.65);
    overflow: hidden;
}
.elements {
    color: rgb(0, 0, 0);
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    direction: ltr;
}
.e {
    padding: 15px;
    width: fit-content;
    cursor: pointer;
}
.ec {
    border-bottom: 2px solid rgb(179, 179, 179);
}
.ec:hover {
    cursor: pointer;
    text-decoration: underline 3px rgb(0, 0, 0);
    background: rgb(228, 228, 228);
}
h1,h2,h3,h4,h5,h6,p {
    user-select: none;
}
.selected {
    outline: 3px solid rgb(255, 0, 221);
}
.name {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.pv {
    background: transparent;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 15px;
    width: 100%;
}
.prop {
    padding: 15px;
    display: flex;
    max-width: 230px;
}
.props {
    border-bottom: 2px solid rgb(0, 0, 0);
}
.pt {
    color: rgb(255, 255, 255);
    background: #191919;
    padding: 15px;
    direction: ltr;
}
.cp {
    color: rgb(0, 0, 0);
}
.cpcp {
    margin: 15px;
    border: 0;
    outline: 0;
    width: 60px;
}
.colorp {
    user-select: all;
}
.boxe {
    display: inline-block;
    height: 100px;
}
.ex {
    direction: ltr;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background: #3f3f3f;
}
.cs {
    direction: ltr;
    color: rgb(0, 0, 0);
    user-select: none;
}
.cn {
    margin-right: 10px;
}
.c {
    width: 100%;
    background: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.color {
    padding: 15px;
    display: flex;
    max-width: 230px;
    
}
.ctt {
    color: rgb(255, 255, 255);
    background: #191919;
    padding: 15px;
}
.scal {
    direction: ltr;
}
.scale {
    font-size: 30px;
    text-align: center;
}